body,
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
  margin: 0 auto;
  color: #000;
  background-color: #ccc;
}

nav {
  margin-top: 0;
  background-color: #444;
}

nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline;
}

.title,
nav li a {
  color: #fff;
}

.title {
  font-size: 20pt;
  margin: 0;
  padding-right: 10px;
}

.option,
.title {
  width: auto;
}

footer,
nav li a {
  text-align: center;
}

nav li a {
  font-size: 14pt;
  display: block;
  padding: 15px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #222;
}

#about-content,
.titlecore,
footer div {
  width: 80%;
  height: 100%;
}

#floating-top,
header,
nav {
  position: sticky;
  z-index: 16384;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
}

#floating-top {
  height: 48px;
  backdrop-filter: blur(4px);
}

.page {
  min-height: calc(100vh);
}

.italic {
  font-style: italic;
}

.titlecore,
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlecore {
  justify-content: space-between;
}

.left,
.title {
  float: left;
}

.option,
.right {
  float: right;
}

footer {
  font-size: 20pt;
  width: 100%;
  background-color: #999;
}

footer div {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

#profiles,
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  width: 60%;
}

.text-text {
  font-size: 24pt;
}

.text-title {
  font-size: 30pt;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 4px solid #000;
}

.core {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.text-text p,
.text-title {
  text-align: center;
}