html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: #cccccc;
  color: black;
  font-family: 'Roboto Slab', sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 0;
}

nav {
  height: 60px;
  margin-top: 0;
  background-color: #444444;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline;
}

.title,
nav li a {
  color: white;
}

.title {
  font-size: 20pt;
  padding-right: 15px;
  width: auto;
}

.option {
  width: auto;
}

nav li a {
  text-decoration: none;
  text-align: center;
  font-size: 14pt;
  padding: 15px;
}

div,
nav li a {
  display: block;
}

nav li a:hover {
  background-color: #222222;
}

footer div,
.titlecore,
#about-content {
  height: 100%;
  width: 80%;
}

nav,
#floating-top {
  position: sticky;
  width: 100%;
  height: auto;
  right: 0;
  top: 0;
  z-index: 16384;
}

#floating-top {
  backdrop-filter: blur(4px);
  height: 48px;
}

.page {
  min-height: calc(100vh);
}

.italic {
  font-style: italic;
}

nav,
.titlecore {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title,
.left {
  float: left;
}

.option,
.right {
  float: right;
}

footer {
  background-color: #999999;
  width: 100%;
  text-align: center;
  font-size: 20pt;
}

footer div {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

#profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-text {
  font-size: 24pt;
}

.text-title {
  font-size: 30pt;
  font-weight: bold;
  bottom: ;
  border-bottom: 4px solid black;
  padding-bottom: 8px;
}

.core {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-title,
.text-text p {
  text-align: center;
}