.row,
img {
  object-fit: cover;
  border-radius: 30px;
}

.card {
  border-radius: 30px;
  height: 300px;
  width: 300px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
}

#Washington {
  background-image: url(../img/SpaceNeedle.jpg);
}

#Idaho {
  background-image: url(../img/Idaho.jpg);
}

#Oregon {
  background-image: url(../img/Portland.jpg);
}

#California {
  background-image: url(../img/GoldenBridge.jpg);
}

#Nevada {
  background-image: url(../img/Vegas.jpg);
}

section#site-section {
    background-color: grey;
}

div.card {
    width: 18em;
}

footer {
  background-color: black;
  color: white;
}

footer p {
  margin-left: 4px
}

img.card-img-top {
  border-radius: 10%;
}

#site-section .card img {
  height: 200px;
  width: 200px;
}

.card h1 {
  font-size: 15px;
  padding-top: 3px;
}

.card p {
  font-size: 12px
}